<div class="div-position">
  <p>Add University</p>
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" placeholder="Country name"  required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="universityName">University name</label>
      <input type="text" class="form-control" id="universityName" placeholder="University name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="universityWebsite">University Website</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">WWW</span>
        </div>
        <input type="text" class="form-control" id="universityWebsite" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="universityEmail">Email</label>
      <input type="text" class="form-control" id="universityEmail" placeholder="example@gmail.com" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="universityContact">Contact</label>
      <input type="text" class="form-control" id="universityContact" placeholder="contractNo" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>
