<div class="div-position">
    <h2 class="text-center">Add Application Information</h2>
    <form [formGroup]="">

        <div class="form-group">
            <label for="stuAssinto">Client</label>
            <!-- <select class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Client</option>
                <option>Choose Client</option>
            </select> -->
        </div>

        <div class="form-group">
            <label for="stuAgent">Country</label>
            <!-- <select class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Country</option>
                <option>Choose Country</option>
            </select> -->
            <button>Add Country(popup)</button>
        </div>

        <div class="form-group">
            <label for="stuAssinto">Institue</label>
            <!-- <select class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Institue</option>
                <option>Choose Institue</option>
            </select> -->
            <button>Add Institue(popup)</button>
        </div>

        <div class="form-group">
            <label for="stuAgent">Course</label>
           <!--  <select class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Course</option>
                <option>Choose Course</option>
            </select> -->
            <button>Add Course(popup)</button>
        </div>

        <div class="form-group">
            <label for="stuAssinto">Intake</label>
            <input  type="date" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="stuAgent">Agent</label>
            <!-- <select class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Agent</option>
                <option>Choose Agent</option>
            </select> -->
            <button>Add Agent(popup)</button>
        </div>
        <button type="submit" class="btn btn-default btn-lg">Submit</button>

    </form>
</div>