<div class="col-md-6">
    <h2 class="text-center">Add Employee</h2>
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" [(ngModel)]="organization.name" placeholder="Name" name="name" class="form-control"
                id="name">
        </div>

        <div class="form-group">
            <label for="email">Designation:</label>
            <input type="email" [(ngModel)]="organization.email" placeholder="Email" name="email" class="form-control"
                id="email">
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input [(ngModel)]="organization.address" placeholder="Address" name="address" class="form-control"
                id="address">
        </div>

        <button class="btn btn-success" (click)="insertOrganization()">Create</button>
    </form>
</div>
<div class="col-md-9">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sl No</th>
                <th>name</th>
                <th>email</th>
                <th>address</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let organization of organizations let i=index;">
                <td>{{i+1}}</td>
                <td>{{organization.name}}</td>
                <td>{{organization.email}}</td>
                <td>{{organization.address}}</td>
                <td>
                    <button (click)="deleteEmployee(organization)" color="primary" mat-mini-fab #button>
                        <mat-icon aria-label="" name='skill1'>edit</mat-icon>
                      </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>