<!-- Add Form -->
<div class="col-md-4">
  <h2 class="text-center">Add Country</h2>

  <form [formGroup]="countryForm">
    <div class="form-group">
      <input type="name" [(ngModel)]="country.name" formControlName="name" placeholder="Enter Country Name"
        class="form-control" id="name" required>
    </div>


    <button class="btn btn-success" (click)="insertCountry()">Create</button>
  </form>

</div>

<!-- Country List -->
<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let count of countries let i=index;">
        <td>{{i+1}}</td>
        <td>{{count.name}}</td>
        <td>
          <button (click)="getOrganizationById(count.id)" color="primary" (click)="open(countrymodal)" mat-mini-fab
            #button>
            <mat-icon aria-label="" name='skill1'>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Country Update Popup -->
<ng-template #countrymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Country Popup</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="countryUpdateForm" #updstu (ngSubmit)="updateCountry()">
      <div class="modal-body" *ngFor="let cont of countryList ">
        <input type="hidden" class="form-control" formControlName="cont_id" [(ngModel)]="cont.id">
        <div class="form-group">
          <label for="name"> Name</label>
          <input type="text" class="form-control" formControlName="cont_name" [(ngModel)]="cont.name">
        </div>
        <div *ngIf="isupdated">
          <p class="text-success">{{updateMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Ok</button>
        </div>
      </div>
    </form>
  </div>

</ng-template>
<!-- End Popup -->