.div-background{

    background-color: palegreen;
}

/* .mat-drawer-container {
    background-color: #ffc107;
    
} */

.mat-list-item {
    font-size: 13px;
    max-height: 40px;
    border: silver thin solid;
}

.mat-list-item:hover {
    background-color: yellow;
  }
  .my-nav-list {
    display: flex;
    flex-direction: row;
  }
  .user-spacer{
      flex: 1 1 auto;
  }
  .organization-spacer{
    flex: auto 1 1;
}