<mat-toolbar color="primary">
  <mat-toolbar-row style="height: 20px;">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()" *ngIf="showAdminMenu || showStudentMenu|| showSuperAdminMenu">menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <!-- <span class="menu-spacer"></span> -->
    <div>
          {{companyName}}<a mat-button (click)="logout()"> Logout </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row style="height: 20px;">
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>

    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-list-item [routerLink]="'/calender'"> Calender </a>

      <!-- Leads Collaps -->
      <a mat-list-item (click)="toggleLeadsCollapsed()"> Leads Manager </a>
      <div class="div-background" *ngIf="!isLeadscollapsed">
        <a mat-list-item [routerLink]="'/add-lead'"> Add Leads </a>
        <a mat-list-item [routerLink]="'/leadview'"> View Leads </a>
        <a mat-list-item [routerLink]="'/lead-view-import'"> Import Leads</a>
        <a mat-list-item [routerLink]="'/studentTracher'"> Lead Tracker </a>
        <a mat-list-item [routerLink]="'/studentDashboard'"> Lead Dashboard </a>
        <a mat-list-item [routerLink]="'/studentDashboard'"> Today Calls </a>
      </div>

      <!-- Student Collaps -->
      <a mat-list-item (click)="toggleCollapsed()" *ngIf="showStudentMenu"> Student Manager </a>
      <div class="div-background" *ngIf="!iscollapsed">
        <a mat-list-item [routerLink]="'/student'"> Add Student </a>
        <a mat-list-item [routerLink]="'/viewStudent'"> View Student </a>
        <a mat-list-item [routerLink]="'/studentTracher'"> Student Tracker</a>
        <a mat-list-item [routerLink]="'/studentDashboard'"> View Dashboard </a>
      </div>

      <!-- Application Manager Collaps -->
      <a mat-list-item (click)="toggleApplicationCollapsed()" *ngIf="showApplicationMenu"> Application Manager </a>
      <div class="div-background" *ngIf="!isApplicationCollapsed">
        <a mat-list-item [routerLink]="'/addApplication'"> Add Application </a>
        <a mat-list-item [routerLink]="'/viewApplication'"> View Application </a>
        <a mat-list-item [routerLink]="'/trackerApplication'"> Application Tracker</a>
        <a mat-list-item [routerLink]="'/dashboardApplication'"> Application Dashboard </a>
        <a mat-list-item [routerLink]="'/clientApplication'"> No Application Client </a>
      </div>


      <!-- Visa Manager Collaps -->
      <a mat-list-item (click)="toggleVisaManagerCollapsed()" *ngIf="showVisaMenu"> Visa Manager </a>
      <div class="div-background" *ngIf="!isVisaManagerCollapsed">
        <a mat-list-item [routerLink]="'/addVisa'"> Add Visa </a>

      </div>


      <!-- Accounts Collaps -->
      <a mat-list-item (click)="toggleAccountCollapsed()" *ngIf="showAccountMenu"> Accounts </a>
      <div class="div-background" *ngIf="!isAccountCollapsed">
        <a mat-list-item [routerLink]="'/studentInvoices'">Student Invoices</a>
        <a mat-list-item [routerLink]="'/universityInvoices'">University Invoices</a>
        <a mat-list-item [routerLink]="'/agentnvoices'">Agent Invoices</a>
        <a mat-list-item [routerLink]="'/visaInvoices'">Visa Invoices</a>
        <a mat-list-item [routerLink]="'/payment'">Payments</a>
      </div>

      <!-- University Collaps -->
      <a mat-list-item (click)="toggleUniversityCollapsed()"> Univesity </a>
      <div class="div-background"  *ngIf="!isUniversityCollapsed">
        <a mat-list-item [routerLink]="'/addUniversity'">Add University</a>
        <a mat-list-item [routerLink]="'/viewUniversity'">View University </a>
        <a mat-list-item [routerLink]="'/bulkUploadUniversity'">Bulk Upload</a>
      </div>

      <a mat-list-item [routerLink]="'/create-contact'"> Patners </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Againts </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Users </a>

      <!-- Admin -->
      <a mat-list-item (click)="toggleAdminCollapsed()"> Admin </a>
      <div  class="div-background"  *ngIf="!isAdminCollapsed" >
          <a mat-list-item [routerLink]="'/addCountry'">Add Country</a>
          <a mat-list-item [routerLink]="'/addCourse'">Add Course</a>
          <a mat-list-item [routerLink]="'/addSource'">Add Source</a>
          <a mat-list-item [routerLink]="'/addBranch'">Add Branch</a>
          <a mat-list-item [routerLink]="'/addPermission'">Permission</a>
          <a mat-list-item [routerLink]="'/addCheckList'">Check List</a>
          <a mat-list-item [routerLink]="'/addSmsTemplate'">Add SMS Template</a>
          <a mat-list-item [routerLink]="'/addEmailTemplate'">Add Email Template</a>

        </div>

      <a mat-list-item (click)="toggleAdminCollapsed()" *ngIf="showAdminMenu"> Admin </a>
      <div class="div-background" *ngIf="!isAdminCollapsed">
        <a mat-list-item [routerLink]="'/addCountry'">Add Country</a>
        <a mat-list-item [routerLink]="'/addCourse'">Add Course</a>
        <a mat-list-item [routerLink]="'/addSource'">Add Source</a>
        <a mat-list-item [routerLink]="'/addBranch'">Add Branch</a>
        <a mat-list-item [routerLink]="'/addPermission'">Permission</a>
        <a mat-list-item [routerLink]="'/addCheckList'">Check List</a>
        <a mat-list-item [routerLink]="'/addSmsTemplate'">Add SMS Template</a>
        <a mat-list-item [routerLink]="'/addEmailTemplate'">Add Email Template</a>

      </div>
      <a mat-list-item (click)="toggleSuperAdminCollapsed()" *ngIf="showSuperAdminMenu"> Super Admin </a>


      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>