<div class="mat-elevation-z8">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search ">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


    <ng-container matColumnDef="Sr No.">
      <th mat-header-cell *matHeaderCellDef> Sr No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="countryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let element"> {{element.countryName}}</td>
    </ng-container>

    <ng-container matColumnDef="uniName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> University Name</th>
      <td mat-cell *matCellDef="let element"> {{element.uniName}} </td>
    </ng-container>

    <ng-container matColumnDef="uniwebSite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> University Website </th>
      <td mat-cell *matCellDef="let element"> {{element.uniwebSite}} </td>
    </ng-container>
    <ng-container matColumnDef="uniEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>University Email</th>
      <td mat-cell *matCellDef="let element"> {{element.uniEmail}} </td>
    </ng-container>
    <ng-container matColumnDef="uniContract">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>University Contract No</th>
      <td mat-cell *matCellDef="let element"> {{element.uniContract}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let element">
        <button color="primary" (click)="getUniversityById(element.id)" mat-mini-fab (click)="open(universitymodal)"
          #button>
          <mat-icon aria-label="" name='skill1'>edit</mat-icon>
        </button>
        <button color="primary" mat-mini-fab (click)="deleteUniversity(element.id)">
          <mat-icon aria-label="" name='skill1'>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>


<!-- University Update Popup -->
<ng-template #universitymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">University Popup</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateUniversityForm" #updstu (ngSubmit)="updateUniversityValue()">
      <div class="modal-body" *ngFor="let uni of singleUniversity ">
        <input type="hidden" class="form-control" formControlName="uni_id" [(ngModel)]="uni.id">
        <div class="form-group">
          <label for="countryId">Country</label>
          <select [(ngModel)]="uni.countryId" formControlName="uni_countryId" id="uni_countryId" class="form-control">
            <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="name">University Name</label>
          <input type="text" class="form-control" formControlName="uni_name" [(ngModel)]="uni.uniName"
            [ngClass]="{ 'is-invalid': updateSubmitted &amp;&amp; updateUniversityForm.controls.uni_name.errors }">
          <div *ngIf="updateSubmitted &amp;&amp; updateUniversityForm.controls.uni_name.errors" class="text-danger">
            <div *ngIf="updateUniversityForm.controls.uni_name.errors.required">University Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">University Website</label>
          <input type="text" class="form-control" formControlName="uni_website" [(ngModel)]="uni.uniwebSite"
            [ngClass]="{ 'is-invalid': updateSubmitted &amp;&amp; updateUniversityForm.controls.uni_website.errors }">
          <div *ngIf="updateSubmitted &amp;&amp; updateUniversityForm.controls.uni_website.errors" class="text-danger">
            <div *ngIf="updateUniversityForm.controls.uni_website.errors.required">University Website is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">University Email</label>
          <input type="email" class="form-control" formControlName="uni_email" [(ngModel)]="uni.uniEmail"
            [ngClass]="{ 'is-invalid': updateSubmitted &amp;&amp; updateUniversityForm.controls.uni_email.errors }">
          <div *ngIf="updateSubmitted &amp;&amp; updateUniversityForm.controls.uni_email.errors" class="text-danger">
            <div *ngIf="updateUniversityForm.controls.uni_email.errors.required">University Email is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Contact</label>
          <input type="text" class="form-control" formControlName="uni_contact" [(ngModel)]="uni.uniContract"
            [ngClass]="{ 'is-invalid': updateSubmitted &amp;&amp; updateUniversityForm.controls.uni_contact.errors }">
          <div *ngIf="updateSubmitted &amp;&amp; updateUniversityForm.controls.uni_contact.errors" class="text-danger">
            <div *ngIf="updateUniversityForm.controls.uni_contact.errors.required">University Contact is required
            </div>
          </div>
        </div>
        <div *ngIf="isupdated">
          <p class="text-success">{{updateMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Ok</button>
        </div>
      </div>
    </form>
  </div>

</ng-template>
<!-- End Popup -->