<div class="div-position">
    <h2 class="text-center">Add Academic Information</h2>
    <form [formGroup]="">
        <table>

            <tr>
                <th>Course/Qualification *</th>
                <th>Subjects *</th>
                <th>Institute *</th>
                <th>Percentage/Grade</th>
                <th>Backlogs</th>
                <th>Year of Passing</th>
            </tr>


            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="10th" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="12th" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="Graduation" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="Post-Graduation" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="Diploma" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
            </tr>


            <button type="submit" class="btn btn-default btn-lg">Submit</button>
        </table>
    </form>
</div>