<div class="div-position">
    <h2 class="text-center">Add Student Information</h2>
    <form [formGroup]="" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="stuFirstName">First Name</label>
                        <input type="text" class="form-control" id="stuFirstName" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuLastName">Last Name</label>
                        <input type="text" class="form-control" id="stuLastName" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuMobileNo">Mobile No</label>
                        <input type="text" class="form-control" id="stuMobileNo" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="stuAlterMolileNo">Alternate No</label>
                        <input type="text" class="form-control" id="stuAlterMolileNo" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuEmail">Email Id</label>
                        <input type="email" class="form-control" id="stuEmail" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuBirthDate">Date of Birth</label>
                        <input type="date" class="form-control" id="stuBirthDate" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="stuAddress">Address</label>
                        <input type="text" class="form-control" id="stuAddress" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuCountry">Country</label>
                        <select class="form-control" (change)="changeWebsite($event)">
                            <option disabled>Select Country</option>
                            <option>Choose Country</option>
                            <!-- <option *ngFor="let web of websiteList">{{web}}</option> -->
                        </select>
                        <!--  <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
                            <div *ngIf="f.website.errors.required">Name is required.</div>
                        </div> -->
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuCourse">Course</label>
                        <select class="form-control" (change)="changeWebsite($event)">
                            <option disabled>Select Course</option>
                            <option>Choose Course</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="stuIntake">Intake</label>
                        <input type="date" class="form-control" id="stuIntake" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuSource">Source</label>
                        <select class="form-control" (change)="changeWebsite($event)">
                            <option disabled>Select Source</option>
                            <option>Choose Source</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuFollowup">Follow Up</label>
                        <input type="date" class="form-control" id="stuFollowup" />
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="form-group">
                        <label for="stuRemark">Address</label>
                        <input type="text" class="form-control" id="stuRemark" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuAssinto">Assign To</label>
                        <select class="form-control" (change)="changeWebsite($event)">
                            <option disabled>Select Assign</option>
                            <option>Choose Assign</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="stuAgent">Agent</label>
                        <select class="form-control" (change)="changeWebsite($event)">
                            <option disabled>Select Agent</option>
                            <option>Choose Agent</option>
                        </select>
                    </div>
                </td>
            </tr>
            <button type="submit" class="btn btn-default btn-lg">Submit</button>
        </table>
    </form>
</div>