<div class="div-position">
    <h2 class="text-center">Add Academic Information</h2>
    <form [formGroup]="" (ngSubmit)="onSubmit()">
        <table>

            <tr>
                <th>Test Name *</th>
                <th>Speaking *</th>
                <th>Reading *</th>
                <th>Writing *</th>
                <th>Listening *</th>
                <th>Overall *</th>
                <th>Test Taken Date</th>
            </tr>


            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="IELTS" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                        <input type="text" class="form-control" id="stuMobileNo" />
                    </td><!--  -->
                <td>
                    <input type="date" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="TOEFL" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                        <input type="text" class="form-control" id="stuMobileNo" />
                    </td>
                <td>
                    <input type="date" class="form-control" id="stuMobileNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="PTE" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                        <input type="text" class="form-control" id="stuMobileNo" />
                    </td>
                <td>
                    <input type="date" class="form-control" id="stuMobileNo" />
                </td>
            </tr>
        </table>
        <table>

            <tr>
                <th>Test Name *</th>
                <th>Varbal *</th>
                <th>Quantitative *</th>
                <th>Analytical Writing  *</th>
                <th>Overall *</th>
                <th>Test Taken Date</th>
            </tr>


            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="GRE" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="date" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="GMAT" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="date" class="form-control" id="stuMobileNo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="stuFirstName" placeholder="SAT" disabled/>
                </td>
                <td>
                    <input type="text" class="form-control" id="stuLastName" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="text" class="form-control" id="stuMobileNo" />
                </td>
                <td>
                    <input type="date" class="form-control" id="stuMobileNo" />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-default btn-lg">Submit</button>
    </form>
</div>