<div class="div-position">
    <h2 class="text-center">Add Payment Information</h2>
    <form [formGroup]="">

        <div class="form-group">
            <label for="stuAssinto">Application *</label>
            <!-- <select class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Client</option>
                <option>Choose Client</option>
            </select> -->
        </div>

        <div class="form-group">
            <label for="stuAgent">Invoice Date *</label>
            <input class="form-control" type="date" />
        </div>

        <div class="form-group">
            <label for="stuAssinto">Amount *</label>
            <input  type="number" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="stuAgent">Discount</label>
            <input  type="number" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="stuAssinto">Invoice Amount *</label>
            <input  type="number" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="stuAgent">GST</label>
            <input  type="number" class="form-control"/>
        </div>
        
        
        <div class="form-group">
            <label for="stuAssinto">Final Total</label>
            <input  type="number" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="stuAssinto">Description</label>
            <input  type="text" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default btn-lg">Submit</button>

    </form>
</div>

