<div class="div-position">
    <h2 class="text-center">Add Payment Information</h2>
    <form [formGroup]="" (ngSubmit)="onSubmit()">

      

        <div class="form-group">
            <label for="stuAgent">Payment Date *</label>
            <input class="form-control" type="date" />
        </div>

        <div class="form-group">
            <label for="stuAssinto">Amount *</label>
            <input  type="number" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="stuAgent">Payment Method *</label>
            <input  type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="stuAssinto">Payment Type *</label>
            <select class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Client</option>
                <option>Client to Company</option>
                <option>Company to Client</option>
            </select>
        </div>

        <div class="form-group">
            <label for="stuAgent">Description</label>
            <input  type="text" class="form-control"/>
        </div>
    
        <button type="submit" class="btn btn-default btn-lg">Submit</button>

    </form>
</div>

