<!-- Add Form -->
<div class="col-md-5">
  <h2 class="text-center">Add Course</h2>
  <form [formGroup]="courseForm" >
    <div class="form-group">
      <input type="text" formControlName="name"  class="form-control" placeholder="Enter Course Name"
             [ngClass]="{ 'is-invalid': submitted &amp;&amp; courseForm.controls.name.errors }" />
      <div *ngIf="submitted &amp;&amp; courseForm.controls.name.errors" class="text-danger">
        <div *ngIf="courseForm.controls.name.errors.required">Course Name is required</div>
      </div>
    </div>
    <button class="btn btn-success" (click)="insertCourse()" >Create</button>
  </form>
</div>


<!-- Course List -->
<div class="col-md-6">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Sl No</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courseList let i=index;">
      <td>{{i+1}}</td>
      <td>{{course.name}}</td>
      <td>
        <button (click)="getCourseById(course.id)" color="primary" (click)="open(coursemodal)" mat-mini-fab
                #button>
          <mat-icon aria-label="" name='skill1'>edit</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Course Update Popup -->
<ng-template #coursemodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateCourseForm" #updstu (ngSubmit)="updateCourseValue()">
      <div class="modal-body" *ngFor="let course of courseValue ">
        <input type="hidden" class="form-control" formControlName="course_id" [(ngModel)]="course.id">
        <div class="form-group">
          <label for="name">Course Name</label>
          <input type="text" class="form-control" formControlName="course_name" [(ngModel)]="course.name"
                 [ngClass]="{ 'is-invalid': updateSubmitted &amp;&amp; updateCourseForm.controls.course_name.errors }" >
          <div *ngIf="updateSubmitted &amp;&amp; updateCourseForm.controls.course_name.errors" class="text-danger">
            <div *ngIf="updateCourseForm.controls.course_name.errors.required">Course Name is required</div>
          </div>
        </div>
        <div *ngIf="isUpdated">
          <p class="text-success">{{updateMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Ok</button>
        </div>
      </div>
    </form>
  </div>

</ng-template>

